*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    padding-top:16px;
}
nav{
    width: 71%;
    max-width: 1140px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-logo{
    max-width: 139px;
    
}
nav .nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap:32px;
    align-items: center;

}
nav .nav-list a{
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
}
nav .btn-1 button{
    max-width: 164px;
    padding: 12.5px 16px;

    color: #FFFFFF;
    font-size: 16px;
    font-size: 600;
    cursor: pointer;
    
    background-color: #469165;
    border: none;
    border-radius: 4px;

}

#banner .banner-container{
    padding: 115.5px 120px 179.5px 120px;
    align-items: center;
    text-align: center;
    background: url("assets/hero-bg.png");
}

 .banner-container .banner-content a{
    color: #469165;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
 }
 .banner-container .banner-content .btn-2{
    padding: 8px 12px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    
    margin-bottom: 16px;
 }

.banner-container .banner-content h1{
    
    color:#fffffff4;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-container .banner-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-button .btn-3 a {
    text-decoration: none;
    color: #FFFFFF;
    
}
.banner-button .btn-4 a{
    text-decoration: none;
    color: white
}

.banner-button .btn-3 {
    padding: 16.5px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

}
.banner-button .btn-4 {
    padding: 16.5px 16px;
    color: white;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

#page2 .page2-container .page2-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-top: 40px;
}
#page2 .page2-container .page2-content p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    text-align: center;
    margin-bottom: 44px;
}

.card .card-info{
    max-width: 322px;
    max-height: 300px;
    box-shadow: 0 0 6px #00000018;
    margin-bottom: 120px;
}

.card img{
    background-color: #F95555;
    border-radius: 100%;
    padding: 8px;
    margin: 69px 131px 16px 131px;
    
}
.card h4{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin: 16px 24px;
    text-align: center;
} 
.card p{
    font-size: 16px;
    line-height: 20px;
    margin: 0 24px 69px 24px;
    text-align: center;
    color: #627382;
}

#page2 .page2-container .card{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    align-items: center;
    margin: 0 120px;

}


#page3 .page3-container{
    margin: 0 120px 120px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: ;
}

.page3-info h4{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}
.page3-info h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    max-width: 700px;
    text-align: left;
    margin-bottom: 16px;
}
.page3-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
    max-width: 700px;
}

.page3-content .page3-bullet .bullet{
    display: flex;
    margin-bottom: 5px;

}
.page3-container .page3-image{
    max-width: 600px;
    box-shadow: 2px 2px 6px #00000031;
}

#page4 .page4-container{
    padding: 2px 120px 120px 120px;
    align-items: center;
    text-align: center;
    
}

.page4-info h2{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    /* background-color: #F7F6F2; */
}
.page4-info p{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    /* background-color: #F7F6F2; */
}
.page4-button .btn-5 a{
    font-size: 16px;
    
    color: #FFFFFF;
    text-decoration: none;
   
}
.page4-button .btn-5{
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    max-width: 194px;
    padding: 16.5px;
    margin-bottom: 16px;
}
.page4-button button{
    box-shadow: 0 10px 20px #00000033;
}
.page4-button p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    
}
#page4 .page4-container .background{
    background-color: #F7F6F2;
    padding: 80px 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(128, 128, 128, 0.402);
}

#footer{
    background-color: #001931;
}
#footer .footer-container .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 80px 120px;
    
}
.footer-content h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color:#FAFAFA;
    
}
.footer-content .logo-footer{
    max-width: 140px;
}
.footer-end p{
    color:#FAFAFA;
    text-align: center;
    padding: 30px 120px;
    
}